@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

$background: #34201b;
$foreground: #fff;
$border:#b7996d;
$primary:$border;
$primaryfg:#fff;

$blue: #38bdf8;
$bluefg: #fff;
$red: #eb3758;
$redfg: #fff;
$purple: #8450ef;
$purplefg: #fff;
$green: #22c55e;
$greenfg: #fff;
$yellow: #f59e0b;
$yellowfg: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Momo Trust Display', 'Poppins', sans-serif;
}

body {
    background-color: color.adjust($background, $lightness: 5%);
    display: flex;
    height: 100dvh;
    color: $foreground;

    background-image: url('../../img/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body>a {
    text-decoration: none;
    color: $foreground;
}

.ccenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: color.adjust($background, $lightness: 10%);
    padding: 50px;
    border-radius: 1rem;
    border: 1px solid $border;

    h1 {
        font-size: 7rem;
        font-weight: 700;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;

        span {
            color: $primary;
        }
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
        text-align: center;
    }

    button {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: none;
        background-color: $primary;
        color: $primaryfg;
        font-weight: 500;
        cursor: pointer;
        font-size: 1.25rem;
        text-align: center;

        &:hover {
            background-color: color.adjust($primary, $lightness: 10%);
        }
    }
}

@media screen and (max-width: 600px) {
    .ccenter {
        width: 95%;
        padding: 25px;

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
    }
}