@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

$background: #34201b;
$foreground: #fff;
$border: #b7996d;
$primary: $border;
$primaryfg: #fff;

$blue: #38bdf8;
$bluefg: #fff;
$red: #eb3758;
$redfg: #fff;
$purple: #8450ef;
$purplefg: #fff;
$green: #22c55e;
$greenfg: #fff;
$yellow: #f59e0b;
$yellowfg: #fff;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Momo Trust Display', 'Poppins', sans-serif;
}

body {
    background: $background;
    color: $foreground;

    background-image: url('../../img/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100dvw;
    height: 100dvh;
}

.login-page {
    background: color.adjust($background, $lightness: 5%);
    /* fond sombre */
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    .logo {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        img {
            max-width: 300px;
            height: auto;
            margin-bottom: 5px;
        }

        h1 {
            font-size: 22px;
            margin: 0;
            color: #fff;
        }
    }

    .login-box {
        background: $background;
        border-top: 3px solid $primary;
        /* orange vif */
        width: 100%;
        max-width: 380px;
        padding: 30px 25px;
        border-radius: 6px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: center;

        h2 {
            font-size: 18px;
            font-weight: 600;
            margin: 15px 0 20px;
        }

        span.help {
            color: $foreground;
            font-size: 13px;
            margin-bottom: 15px;
            cursor: pointer;

            &:hover {
                color: color.adjust($foreground, $lightness: 10%);
            }
        }

        form {
            display: flex;
            flex-direction: column;
            text-align: left;

            label {
                font-size: 14px;
                margin-bottom: 5px;
                color: #ccc;
            }

            input[type="text"],
            input[type="password"] {
                background: color.adjust($background, $lightness: 10%);
                border: none;
                border-radius: 4px;
                padding: 10px;
                color: #fff;
                margin-bottom: 15px;
                font-size: 14px;
            }

            .options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                font-size: 13px;

                label {
                    color: #ccc;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin: 0;
                }

                .forgot {
                    color: #ff6c36;
                    text-decoration: none;
                    font-size: 13px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .btn-signin {
                background: $primary;
                border: none;
                color: #fff;
                font-weight: 600;
                padding: 10px;
                border-radius: 4px;
                cursor: pointer;
                transition: background .3s ease;
                margin-bottom: 15px;

                &:hover {
                    background: $primary;
                }
            }

            .try-another {
                display: block;
                text-align: center;
                font-size: 13px;
                color: #ccc;
                text-decoration: none;
                margin-bottom: 20px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .register {
                text-align: center;
                font-size: 13px;
                color: #ccc;
                margin-top: 20px;

                a {
                    color: $primary;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .login-page {
        padding: 0;
        min-height: 100dvh;
    }

    .login-page .login-box {
        width: 95dvw;
        max-width: unset;
        height: calc(90dvh - 80px);
        overflow: auto;
    }

    .login-page .logo img {
        width: 80dvw;
        max-width: unset;
    }

    .login-page .login-box p.description {
        text-align: justify;
    }
}