ErrorDocument 404 /404.php
ErrorDocument 403 /403.php

RewriteEngine On

RewriteRule ^help$ help.php
RewriteRule ^help/([a-zA-Z0-9_-]+)$ help.php?q=$1 [L,QSA]
RewriteRule ^profile/(.*)?(.*)$ profile.php?account=$1&$2 [L,QSA]
RewriteRule ^auth$ auth.php?mode=login
RewriteRule ^auth/login(.*)$ auth.php?$1&mode=login [L,QSA]
RewriteRule ^auth/register(.*)$ auth.php?$1&mode=register [L,QSA]
RewriteRule ^profile-edit()$ profile-edit.php [L,QSA]
RewriteRule ^coupons$ coupons.php [L,QSA]
RewriteRule ^logout$ logout.php [L,QSA]

# 403
Options -Indexes
RewriteRule ^inc/ - [F,L]
RewriteRule ^backend/$ - [F,L]
RewriteRule ^.env.sample$ - [F,L]
RewriteRule ^composer\.json$ - [F,L]
RewriteRule ^composer\.lock$ - [F,L]
RewriteRule ^vendor/$ - [F,L]